{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
body {
background: url("{% static 'assets/img/formulario.jpg' %}") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-200">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Crea tu proyecto</h2>
              <p class="text-white-50 mb-5">Ingresa los datos</p>
                <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <label for="foto">Elige una foto:</label>
                    <br><br>
        {{ forms.foto }}
      <br><br>
  <label for="titulo">Título del proyecto:</label>
        <br><br>
                    {{ forms.title }}
    <br><br>
    <p><label for="descripcion">Descripción de tu proyecto:</label></p>
    {{ forms.descripcion }}
  <br><br>



  <label for="Tags">Tags:</label>
                    <br><br>
 {{ forms.tags }}
  <br><br>

    <label for="url">Url de GitHub:</label>
                    <br><br>
    {{ forms.github }}
  <br><br>
     <button class="btn btn-outline-light btn-lg px-7 mt-3" type="submit">Crear</button>
    {% if forms.errors %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Por favor corrige los siguientes errores</h4>
                    <hr>
                    <ul>
                      {% for field in forms %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p> <i class="bi bi-x-circle-fill"></i> {{ field.label }}: <a href="#id_{{ field.name }}" class="text-danger">{{ error|escape }}</a> </p>

                            {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% if forms.non_field_errors %}
                    <ul>
                      {% for error in forms.non_field_errors %}
                      <p> <i class="bi bi-x-circle-fill"></i> {{ error }} </p>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                  {% endif %}




</form>


            </div>

            <div>
              <p class="mb-0"><a href="/" class="text-white-50 fw-bold">Regresar</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}